  
  .FandomMenu {
    background: #d0e0e6;
    // min-height: 100vh;
    // line-height: 1;
  }
    
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    // padding-top: 20px;
    // height: 90vh;
  }

  .card {
    position: relative;
    img {
        width: 900px;
        height: 250px;
        object-fit: cover;
        border-radius: 25px;
        border: 3px solid yellow;
         &:hover {
             cursor: pointer;
             box-shadow: 10px 10px 5px #ccc;
        }
    }

}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;
    background: rgba(255,255,0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    cursor: pointer;
  }
  
  .card:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .card:hover .img__description {
    transform: translateY(0);
  }

  


  